.tabsContainer::after{
    translate: var(--_left, 0) 0;
    pointer-events: none;
    transition: translate ease-in-out 250ms;
}
li {
    width:3rem;
    height: 3rem;
}
.viewArea{
    margin-left: 0%;
    transition: all ease-in-out 250ms;
}